* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
body {
  background-color: #060a23;
  height: 1750px;
}
.rukia {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
.rukia a {
  color: #f8efe5;
  font-weight: 500;
  font-size: 20px;
}

.rukia .logo {
  width: 60px;
  height: 52px;
  margin-top: -5px;
  margin-left: 20px;
}

.rukia .nivo ul li a:hover {
  color: #9340ff;
}
.rukia .nivo ul {
  display: flex;
}
.rukia .nivo ul li {
  margin: 0 30px;
}
.rukia .nivo ul li .active a {
  color: #1e2248;
  font-weight: 600;
}
.menu-Hamburger {
  display: none;
  width: 45px;
  height: 30px;
  top: 35px;
  right: 36px;
  position: absolute;
}

.comp1 {
  width: 80%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  /* margin-top: 45px; */
}
.comp1 img {
  width: 375px;
  height: 339px;
  margin-left: 50px;
  margin-top: -15px;
}
.comp1 div {
  color: #f8efe5;
  margin-left: 62px;
  margin-top: 60px;
}
.comp1 div h1 {
  color: #9340ff;
}
.comp1 div p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
  width: 500px;
}
/* @media screen and (min-width:1280px) {
    .comp1 img {
        margin-left: 210px;
        width: 385px;
        height: 349px;
    }
    .comp1 div {
        color: #f8efe5;
        margin-left: 80px;
        margin-top: 60px;
    }
    .comp1 div p {
        padding-top: 30px ;
        font-size: 26px;
        font-weight: 500;
        width: 550px;
    }
    .comp1 {
        display: flex;
        margin-top: 50px;
    }
    .rukia a {    
        font-size: 22px;
    }
} */
.grege {
  background-color: #5721ff;
  height: 50px;
  width: 160px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grege a {
  text-decoration: none;
  color: white;
}
.grege a:hover {
  color: aquamarine;
}
.kur {
  /* margin-top: 110px; */
  padding: 0 1em;
  padding-top: 3em;
  display: flex;
  justify-content: space-evenly;
}
.kur .txt {
  color: #f8efe5;
  max-width: 400px;
  /* margin-left: 107px; */
}
.kur .txt h2 {
  color: #9340ff;
}
.kur .txt p {
  font-size: 20px;
  padding-top: 22px;
}
.kur img {
  /* margin-left: 105px; */
  /* margin-top: -19px; */
}
.torres {
  margin-top: 120px;
  height: 460px;
  width: 100%;
  background-color: #e2e8f8;
}
.torres .im {
  height: 100%;
  width: 100%;
  filter: invert(64%) sepia(31%) saturate(3426%) hue-rotate(295deg)
    brightness(100%) contrast(104%);
}
.torres .no {
  margin-top: -380px;
  width: 330px;
  font-size: 22px;
  font-weight: 500;
  margin-left: 152px;
}
.torres .no .h2m {
  color: purple;
}
.torres .no .pa {
  color: #060a23;
  padding-top: 20px;
}
.torres .no img {
  margin-top: -277px;
  width: 285px;
  height: 281px;
  margin-left: 420px;
  border-radius: 22px;
}
footer {
  bottom: 0;
  width: 100%;
  color: #f8efe5;
}
footer h2 {
  color: #9340ff;
}
footer img {
  height: 35px;
  width: 35px;
  filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(248deg)
    brightness(117%) contrast(100%);
}
.ph img {
  height: 23px;
  width: 21px;
  padding-right: 5px;
  margin-bottom: 3px;
}
.cotk img {
  height: 23px;
  width: 21px;
  padding-right: 5px;
  margin-bottom: 3px;
}
footer .main {
  display: flex;
}
.sco img {
  padding-left: 15px;
  padding-top: 20px;
}
footer .main .left {
  flex-basis: 50%;
  padding: 10 20px;
  margin-left: 25px;
  margin-top: 15px;
}
footer .main .left .cont {
  width: 400px;
  font-size: 20px;
  font-weight: 510;
  padding-top: 12px;
}
.rgt {
  margin-top: 35px;
  margin-left: 180px;
}
.ph {
  display: flex;
  padding-top: 14px;
}
.cotk {
  padding-top: 14px;
  display: flex;
}
.om {
  height: 80px;
  width: 80px;
  margin-left: 45%;
}
/* @media screen and (min-width:1280px) {
    .kur {
        margin-top: 130px;
        display: flex;
  }
  .kur .txt p {
    font-size: 23px;
    padding-top: 23px;
   }
   .kur img {
    margin-left: 180px;
    margin-top: -22px;
}
.kur .txt {
    color: #f8efe5;
    width: 300px;
    margin-left: 155px;
}
.torres .no {
    margin-top: -380px;
    width: 350px;
    font-size: 23px;
    font-weight: 500;
    margin-left: 199px;
}
.torres .no img {
    margin-top: -263px;
    width: 295px;
    height: 291px;
    margin-left: 520px;
    border-radius: 22px;
  }
}
@media screen and (max-width:1000px) {
    .torres .no img {
        margin-top: -285px;
        width: 295px;
        height: 291px;
        margin-left: 380px;
        border-radius: 22px;
      }
} */

@media screen and (max-width: 1000px) {
  .rukia {
    padding: 0;
  }
  .rukia .logo {
    left: 25px;
    margin-top: 20px;
  }
  .menu-Hamburger {
    display: block;
  }
  .nivo {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: 0.95s;
  }
  .nivo .menu-Hamburger {
    padding-top: 25px;
  }
  .mobile-menu {
    margin-left: 0;
  }
  .nivo ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rukia .nivo ul li {
    margin: 28px 0;
    font-size: 1.2em;
  }
  .rukia .nivo ul li a {
    color: #dacaf0;
    font-weight: 700;
    font-size: 3rem;
  }
}


@media only screen and (max-width: 900px),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    /* Styles for devices with a pixel density of 2x */
    body{
        font-size: 2rem;
        overflow-x: hidden;
    }
    .comp1, .part2, .kur{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .comp1 > *, .kur  .txt{
        max-width: 100%;
        width: 90%;
        font-size: 16px;
    }
    .kur{
        flex-direction: column-reverse;
    }
    .comp1 div p{
        width: 90%;
        font-size: 16px;
    }
    .btn{
        font-size: 3rem;
        width: 200px;
        padding: 2em 1em;
    }
    .grege{
        height: auto;
        width: auto;
        margin: 0;
        display: inline-block;
    }
}
